<section class="hero">
    <div class="hero-body has-text-centered">
        <p class="title">Curses!</p>
        <p class="subtitle">This page was not found!</p>
    </div>
</section>
<p class="has-text-centered">Were you trying to use one of our shortened links? Visit our <%= link("homepage", to: "/")%> to generate a new one!</p>